* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #ff6f91;
}

@font-face {
  font-family: "Vazir";
  src: url("./asset/fonts/Vazir-Thin-UI.ttf");
}

.component-dark {
  margin: 2rem auto;
  margin-bottom: 0;
  direction: rtl;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 1);
  background-color: #111;
}

.component-light {
  margin: 2rem auto;
  margin-bottom: 0;
  direction: rtl;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
}
